services:
  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: front-occurrence
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - ..:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - CHOKIDAR_INTERVAL=300
    restart: unless-stopped

volumes:
  frontend_node_modules: